@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display&display=swap');

:root {
--primary-font: 'Alfa Slab One', sans-serif;
--secondary-font: 'Playfair Display' sans-serif;
--primary-color: #e84624;
--secondary-color: #e8a826;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: rgb( 184, 184, 184, .7);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 30px;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 42px;
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 36px; 
}

h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 18px; 
}

h4 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 24px; 
}

h5 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
}

body {
    width: 100%;
}

/* home page */
/* here starts header*/

.logo {
    height: 100px;
    width: 100px;
    margin: 0 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 80px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar-parent{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1rem auto;
    margin-right: 0;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: end;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    font-family: var(--secondary-font);
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: black;
}

#navbar li a.active::after, 
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#searcher {
    width: 100%;
    margin: 1rem auto;
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 0 20px;
    position: relative;
}

#searcher i{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 4px 4px 5px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#searcher input {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    margin-right: -5px;
    padding: 4px 15px;
    outline: none;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searcher .search-box {
    width: 234px;
    height: 300px;
    position: absolute;
    background: rgb( 184, 184, 184, .3);
    top: 20px;
    margin-right: 5px;
    border-radius: 6px;
    z-index: -1;
    padding-top: 10px;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;
}

#searcher .search-box::-webkit-scrollbar {
    width: 7px;
    background: rgb( 184, 184, 184, .7);
}

#searcher .search-box a {
    text-decoration: none;
    color: var(--secondary-color);
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: .3s linear;
}

#searcher .search-box a:hover {
    background-color: rgb( 184, 184, 184, .7);
}

#searcher .search-box a img {
    width: 55px;
    height: 45px;
    border-radius: 5px;
    margin: 0 10px;
}

#searcher .search-box a .product-details {
    color: var(--secondary-color);
    margin-top: -42px;
    margin-left: 72px;
}

#searcher .search-box a .product-details h3 {
    font-size: 13px;
    font-family: var(--secondary-font);
}

#searcher .search-box a .product-details h5 {
    font-size: 10px;
}

/*here starts hero section*/

#hero {
    background-image: url("images/pacote-de-paezinhos-frescos.jpg");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

p {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

@-webkit-keyframes color-change-5x {
    0% {
      background: #ff8383;
    }
    25% {
      background: #ff842c;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #ff8383;
    }
    25% {
      background: #ff842c;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
  }

#hero button {
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 6px;
    padding: 8px 80px;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

#hero button:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition:  0.5s ease;
}

.section-pd1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    margin-top: 2rem;
    background-color: #e84624;
    box-shadow: 20px 20px 34px #e8a726;
    border: 2px solid var(--secondary-color);
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px #e8a726;
    transform: scale(1.1);
    transition: 0.5s ease;
}

#feature .fe-box img {
    width: 70%;
    height: 70%;
    margin-bottom: 10px;
}

#feature .fe-box h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 18px;
}

#product1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 3%;
    margin: 0 auto;
}

#product1 .pro-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro img {
    width: 95%;
    height: 50%;
    border-radius: 6px;
    margin-bottom: 5px;
}

#product1 .pro img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

#product1 .pro {
    width: 22%;
    min-width: 250px;
    padding: 20px 12px;
    border: 1px solid var(--primary-color);
    margin: 40px 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
    position: relative;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: var(--secondary-color);
    font-size: 16px;
}

#product1 .pro .des h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 18px;
}

#product1 .pro .des h5 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 18px;
    padding-top: 7px;
    font-weight: 700;
}

#product1 .pro .des i {
    font-size: 20px;
    color:#f5be10;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: #e84624;
    background-position: initial;
    position: absolute;
    align-items: flex-end;
    bottom: 20px;
    right: 10px;
    padding: 0 0.6rem;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#product1 .pro .cart:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.5s ease;
}

/* here starts banner */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/products/variedade-de-pao-em-madeira.jpg");
    padding: 10% 0;
    background-size: cover;
    background-position: top 25% right 0;
}

#banner button {
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 6px;
    padding: 8px 80px;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

#banner button:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition:  0.5s ease;
}

#banner span {
    color: var(--secondary-color);
}

#sm-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0%;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/variedade-de-pedacos-de-bolo.jpg");
    min-width: 43%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    padding: 30px;
}

#sm-banner .banner-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/deliciosos-sanduiches-de-frente-com-abacate-e-tomate-vermelho-sobre-fundo-cinza.jpg");
    min-width: 43%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    padding: 30px;
}

#sm-banner span {
    color: var(--secondary-color);
    font-size: 20px;
}

#sm-banner button {
    font-size: 20px;
    background-position: center;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid #e84624;
    border-radius: 6px;
    padding: 8px 20px;
    margin-top: 1rem;
    cursor: pointer;
}

#sm-banner button:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transform: scale(1.1);
    transition:  0.5s ease;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/rosquinhas-coloridas-e-saborosas.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1% 20px;
    padding: 20px; 
}

#banner3 .banner-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/pretzels-de-vista-superior-no-cafe-da-manha.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1% 20px;
    padding: 20px; 
}

#banner3 .banner-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/coold-sorvete-doce-com-chocolate.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1% 20px;
    padding: 20px; 
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/newsletter.png");
    padding: 5% 0;
    background-size: cover;
    background-position: top 40% right 0;
    margin: 2% 0 2%;
}

#newsletter .newstext {
    padding: 0 5%;
}

#newsletter .newstext span {
    color: var(--primary-color);
}

#newsletter .form {
    margin: 3% 5%;
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    font-size: 16px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 6px;
    white-space: nowrap;
    padding: 6px 22px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 1rem 2rem 0;
    position: relative;
}

footer .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem auto 1rem;
}

footer .logo {
    width: 50px;
    height: 50px;
    margin: 0 0 20px 20px;
}

footer h5 {
    padding-top: 20px;
    padding-bottom: 10px;
}

footer span {
    font-weight: 700;
}

footer p {
    margin: 0 0 8px 0;
    font-size: 16px;
}

footer a {
    font-size: 13px;
    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    padding-right: 4px;
    cursor: pointer;
    color: var(--secondary-color);
}

footer .follow i:hover, 
footer a:hover {
    color: black;
    transition: 0.5s ease;
}

footer .install .row img {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    margin: 0 0 1rem;
    width: 100px;
    height: 50px;
}

footer .install .img-2 {
    width: 200px;
    height: 100px;
    margin-top: -1rem;
}

footer .copyright {
    width: 100%;
    margin: 1rem auto 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}


/* here starts the shop page */

#page-header {
    background-image: none;
    background-color: var(--secondary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px auto;
}

#page-header p {
    color: #e84624;
    padding-bottom: 2rem;
}

#page-header svg {
    height: 70%;
    width: 70%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px auto;
}

#page-header a {
    text-decoration: none;
    color: black;
}

svg#freepik_stories-recipe-book:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-recipe-book.animated #freepik--Mixer--inject-6 {
    animation: 1.5s Infinite  linear shake;
    animation-delay: 0s;
}

svg#freepik_stories-recipe-book.animated #freepik--book-1--inject-6 {
    animation: 1.5s Infinite  linear wind;
    animation-delay: 0s;
}

svg#freepik_stories-recipe-book.animated #freepik--speech-bubble--inject-6 {
    animation: 3s Infinite  linear floating;
    animation-delay: 1s;
}            

@keyframes shake {                
    10%, 90% {                    
        transform: translate3d(-1px, 0, 0);                  
    }                  
    20%, 80% {                    
        transform: translate3d(2px, 0, 0);                  
    }                  
    30%, 50%, 70% {                    
        transform: translate3d(-4px, 0, 0);                  
    }                  
    40%, 60% {                    
        transform: translate3d(4px, 0, 0);                  
    }            
}                    

@keyframes wind {                
    0% {                    
        transform: rotate( 0deg );                
    }                
    25% {                    
        transform: rotate( 1deg );                
    }                
    75% {                    
        transform: rotate( -1deg );                
    }            
}                    

@keyframes floating {                
    0% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }                
    50% {                    
        transform: translateY(-10px);                
    }                
    100% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }            
}

#pagination {
    text-align: center;
    margin: 5% 0;
}

#pagination a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 4px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
}

/* here starts single product */

#prodetails {
    display: flex;
    margin: 2rem 3rem 1rem;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display:flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h5 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    padding: 30px 0 10px 0;
}

#prodetails .single-pro-details h4 {
    padding: 20px 0 10px 0;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 6px;
    border-radius: 6px;
    background: #e8a826;
    box-shadow:  5px 5px 10px #d5c29f,
                 -5px -5px 10px #ffffff;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 6px;
    background: #e8a826;
    box-shadow:  5px 5px 10px #d5c29f,
                 -5px -5px 10px #ffffff;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details span {
    line-height: 20px;
    font-size: 16px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

#prodetails .single-pro-details button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 6px;
    background: #e8a826;
    box-shadow:  5px 5px 10px #d5c29f,
                 -5px -5px 10px #ffffff;
    overflow: hidden;
    border: none;
}

#prodetails .single-pro-details button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
#prodetails .single-pro-details button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

#prodetails .single-pro-details button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   #prodetails .single-pro-details button:hover span {
    color: var(--secondary-color);
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

/* here starts the blog page */

#page-header-blog {
    background-image: url("images/a-garota-esta-lendo-um-livro-em-um-cafe.jpg");
    background-size: cover;
    background-position: top 80% right 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 20rem;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 5rem 0;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 14px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: var(--primary-color);
}

#blog .blog-details a:hover::after {
    background-color: var(--primary-color);
}

#blog .blog-box h1 {
    position: absolute;
    top: 0.9rem;
    left: 0.3rem;
    font-size: 70px;
    font-weight: 700;
    z-index: -9;
}

/* here starts the about page */

#page-header-about {
    background-image: url("images/bakery\ team.jpg");
    background-size: cover;
    background-position: top 20% left 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

#page-header-about h1 {
    font-size: 47px;
}

#page-header-about p {
    font-size: 36px;
    color: var(--secondary-color);
}

#about-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    margin-left: 1rem;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0;
}

#about-app .video video {
    width: 70%;
    height: 100%;
    border-radius: 6px;
}

/* here starts contact page*/

#page-header-contact {
    background-image: url("images/contact.jpg");
    background-size: cover;
    background-position: top 20% left 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

#page-header-contact h1 {
    font-size: 47px;
}

#page-header-contact p {
    font-size: 28px;
    color: var(--secondary-color);
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    color: var(--secondary-color);
    font-size: 16px;
}

#contact-details .details h2,
#form-details form h2 {
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h4 {
    font-size: 24px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    color: var(--primary-color);
    font-size: 16px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 18px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    border: 1px solid var(--primary-color);
    padding: 1rem;
}


#form-details form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid var(--secondary-color);
}

#form-details form button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 6px;
    background: #e8a826;
    box-shadow:  5px 5px 10px #d5c29f,
                 -5px -5px 10px #ffffff;
    overflow: hidden;
    border: none;
}

#form-details form button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
#form-details form button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

#form-details form button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   #form-details form button:hover span {
    color: var(--secondary-color);
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

   #form-details .people {
    width: 30%;
    margin: auto;
}

   #form-details .people div {
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
   }

   #form-details .people div img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-right: 15px;
   }

   #form-details .people div span {
    font-weight: 700;
   }

   #form-details .people div p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
   }

   /* here starts cart*/

#page-header-cart {
    background-image: none;
    background-color: var(--secondary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px auto;
}

#page-header-cart svg{
    height: 70%;
    width: 70%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px auto;
}

svg#freepik_stories-shopping-bag:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-shopping-bag.animated #freepik--shopping-bags--inject-50 {
    animation: 1.5s Infinite  linear wind;
    animation-delay: 0s;
}

svg#freepik_stories-shopping-bag.animated #freepik--Stars--inject-50 {
    animation: 3s Infinite  linear floating;
    animation-delay: 0s;
}            

@keyframes wind {                
    0% {                    
        transform: rotate( 0deg );                
    }                
    25% {                    
        transform: rotate( 1deg );                
    }                
    75% {                    
        transform: rotate( -1deg );                
    }            
}                    

@keyframes floating {                
    0% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }                
    50% {                    
        transform: translateY(-10px);                
    }                
    100% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }            
}        

.animator-hidden { 
    display: none; 
}

#page-header-cart p {
    color: #e84624;
    padding-bottom: 2rem;
}

#cart {
    overflow-x: auto;
}

#cart table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin: 5rem;
}

#cart table img {
    width: 70px;
}

#cart table td i {
    color: var(--secondary-color);
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
    color: var(--secondary-color);
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
    color: var(--secondary-color);
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
    color: var(--secondary-color);
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
    outline: var(--secondary-color);
    color: var(--secondary-color);
}

#cart table thead {
    border: 1px solid var(--primary-color);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart tbody tr td {
    padding-top: 15px;
}

#cart tbody td {
    font-size: 16px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid var(--primary-color);
}

#coupon button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 6px;
    background: #e8a826;
    box-shadow:  5px 5px 10px #d5c29f,
                 -5px -5px 10px #ffffff;
    overflow: hidden;
    border: none;
}

#coupon button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   #coupon button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

#coupon button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 5px 10px;
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   #coupon button:hover span {
    color: var(--secondary-color);
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

   #subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }

   #subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
   }

   #subtotal table td {
    width: 50%;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    font-size: 13px;
   }

/* here starts the responsivety*/

@media (max-width: 799px) {
    .section-pd1 {
        padding: 40px 40px;
    }
    
    #navbar {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--primary-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.09);
        padding: 80px 0 0 10px;
    }
    
    #navbar:hover {
        color: black;
        transition: 0.5s ease;
    }
    
    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
    
    #mobile {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 1rem auto;
        margin-right: 0;
        padding: 0 20px;
        z-index: 2;
    }
    
    #mobile i {
        color: var(--secondary-color);
        font-size: 20px;
        padding-left: 28px;
    }
    
    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: var(--secondary-color);
        font-size: 20px;
        display: initial;
    }
    
    #lg-bag {
        display: none;
    }
    
    #hero {
        height: 80vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
        text-align: end;
    }
    
    #feature {
        justify-content: center;
    }
    
    #feature .fe-box {
        margin: 15px 15px;
    }

    #sm-banner {
        margin: 0;
    }
    
    #sm-banner .banner-box {
        padding: 55px;
        width: 10%;
    }
    
    #sm-banner .banner-box-2 {
        padding: 55px;
        width: 10%;
    }
    
    #banner h5 {
        font-size: 16px;
    }
    
    #banner h1 {
        font-size: 36px;
    }
    
    #banner3 {
        margin: 1% 0;
        padding: 0 5%;
    }
    
    #banner3 .banner-box h2 {
        font-size: 20px;
    }
    
    #banner3 .banner-box h5 {
        font-size: 16px;
    }
    
    #banner3 .banner-box-2 h2 {
        font-size: 20px;
    }
    
    #banner3 .banner-box-2 h5 {
        font-size: 16px;
    }
    
    #banner3 .banner-box-3 h2 {
        font-size: 20px;
    }
    
    #banner3 .banner-box-3 h5 {
        font-size: 16px;
    }
    
    #newsletter .form {
        width: 70%;
    }

    /* blog */

    #page-header-blog {
        padding: 0 10rem;
    }

    #blog .blog-box {
        justify-content: space-between;
        padding: 5rem 0 0;
    }

    #blog .blog-box h2 {
        font-size: 20px;
    }

    #blog .blog-box p {
        font-size: 16px;
    }
    
    #blog .blog-box h1 {
        font-size: 50px;
        top: 2rem;
    }

    /*about page*/

    #about-head {
        align-items: flex-start;
        padding: 2rem;
    }

    #about-head img {
        width: 55%;
    }

    #about-head h2 {
        font-size: 28px;
        padding: 0 0 1rem;
    }

    #about-head p {
        font-size: 16px;
    }

    #about-app .video {
        width: 90%;
        margin: 15px auto 0;
    }

    /* contact page */

    #contact-details {
        padding: 1rem;
    }

    #form-details {
        margin: 1rem;
    }

    #form-details form {
        width: 60%;
        margin: 0;
    }

    #form-details .people {
        width: 40%;
        margin: 0;
    }

    #form-details .people div img {
        width: 30%;
        height: 30%;
    }

    /* cart page */

    #cart-add {
        margin: 1rem;
    }

}

@media (max-width: 573px) {
    #sm-banner .banner-box {
        padding: 55px;
        min-width: 88%;
    }
    
    #sm-banner .banner-box-2 {
        padding: 55px;
        min-width: 88%;
    }
    /*single product section */
    #page-header {
        height: 60vh;
    }
    
    h1 {
        font-family: var(--primary-font);
        color: var(--primary-color);
        font-size: 36px;
    }
    
    #prodetails .single-pro-image {
        width: 50%;
        margin-right: 50px;
    }
    
    #prodetails .single-pro-details {
        width: 40%;
        padding-top: 30px;
    }

    /* blog page */

    #blog {
        padding: 1rem 1rem;
    }

    #blog .blog-box {
        flex-direction: column;
    }

    #blog .blog-details {
        width: 90%;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
    }

    #blog .blog-box h2 {
        width: 100%;
    }

    #blog .blog-box p {
        width: 100%;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 20px;
    }

    #hero {
        height: 83vh;
        text-align: end;
        padding: o 20px;
        background-position: 55%;
        padding-right: 5%;
    }
    h4 {
        font-size: 16px;
    }

    h1, h2 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    #hero button {
        font-size: 16px;
        padding: 4px 40px;
        border-radius: 4px;
    }

    #feature .fe-box {
        width: 40%;
        padding: 5%;
    }

    #feature .litt {
        width: 40%;
        padding: 7% 3%;
    }

    #product1 .pro {
        width: 80%;
    }

    #banner h1 {
        font-size: 30px;
        padding: 0 10px;
    }

    #banner button {
        font-size: 16px;
        padding: 4px 40px;
        border-radius: 4px;
    }

    #sm-banner .banner-box {
        padding: 55px;
        min-width: 88%;
    }

    #sm-banner .banner-box-2 {
        padding: 55px;
        min-width: 88%;
    }

    #banner3 {
        margin: 0 0%;
    }
    
    #banner3 .banner-box {
        padding: 5%;
        min-width: 30%;
    }
    
    #banner3 .banner-box-2 {
        padding: 5%;
        min-width: 30%; 
    }
    
    #banner3 .banner-box-3 {
        padding: 5%;
        min-width: 30%;
    }

    #banner3 .banner-box h2 {
        font-size: 18px;
    }

    #banner3 .banner-box h5 {
        font-size: 14px;
    }

    #banner3 .banner-box-2 h2 {
        font-size: 18px;
    }

    #banner3 .banner-box-2 h5 {
        font-size: 14px;
    }

    #banner3 .banner-box-3 h2 {
        font-size: 18px;
    }

    #banner3 .banner-box-3 h5 {
        font-size: 14px;
    }

    #newsletter .form {
        width: 90%;
    }

    /* shop page */

    #pagination {
        text-align: center;
        margin-bottom: 10%;
    }

    #pagination a {
        font-size: 16px;
    }

    /* single product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* blog page */

    #page-header-blog {
        background-position: top 50% right 60%;
    }

    #blog {
        padding: 1rem 0;
    }

    #page-header-blog {
        padding: 0 2rem;
    }

    #blog .blog-img {
        width: 90%;
        height: 10%;
    }

    #blog .blog-box h1 {
        left: 1.5rem;
    }

    /*about page*/

    #about-head {
        flex-direction: column;
        align-items: center;
    }
    
    #about-head img {
        width: 100%;
    }
    
    #about-head h2 {
        padding: 2rem 0 1rem;
    }
    
    #page-header-about p {
       margin: 0 20%;
    }

    #about-app .video {
        width: 100%;
        margin: 10px auto 0;
    }

    /* contact page */

    #page-header-contact p {
        margin: 0 20%;
     }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 90%;
        margin-bottom: 0.5rem;
    }

    #contact-details .map {
        width: 90%;
        margin-top: 0.5 rem;
    }

    #form-details {
        flex-direction: column;
        padding: 1rem;
    }

    #form-details form {
        width: 100%;
    }

    #form-details .people {
        width: 40%;
        margin: 2rem 0 1rem;
    }

    /* cart page */

    #cart-add {
        flex-direction: column;
        justify-content: center;
    }

    #coupon {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #coupon input {
        width: 100%;
    }

    #coupon button {
        margin: 1rem auto 0;
    }

    #subtotal {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}