@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Playfair+Display&display=swap');

:root {
--primary-font: 'Climate Crisis', sans-serif;
--secondary-font: 'Playfair Display' sans-serif;
--primary-color: #e84624;
--secondary-color: #e8a726;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--secondary-font);
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 42px;
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 36px; 
}

h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 18px; 
}

h4 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 24px; 
}

h5 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
}

body {
    width: 100%;
}

/* home page */
/* here starts header*/

.logo {
    height: 30%;
    width: 30%;
    margin: -5rem 0 -6.5rem;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    font-family: var(--secondary-font);
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: black;
}

#navbar li a.active::after, 
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*here starts hero section*/

#hero {
    background-image: url("images/pacote-de-paezinhos-frescos.jpg");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

p {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

@-webkit-keyframes color-change-5x {
    0% {
      background: #ff8383;
    }
    25% {
      background: #ff842c;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #ff8383;
    }
    25% {
      background: #ff842c;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
  }

#hero button {
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 6px;
    padding: 8px 80px;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

#hero button:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition:  0.5s ease;
}

.section-pd1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    margin-top: 2rem;
    background-color: #e84624;
    box-shadow: 20px 20px 34px #e8a726;
    border: 1px solid black;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px #e8a726;
    transform: scale(1.1);
}

#feature .fe-box img {
    width: 70%;
    height: 70%;
    margin-bottom: 10px;
}

#feature .fe-box .img-litt {
    width: 70%;
    height: 70%;
    margin-bottom: 35px;
}

#feature .fe-box h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 18px;
}

#product1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5% 3%;
    margin: 0 auto;
}

#product1 .pro-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro img {
    width: 95%;
    height: 50%;
    border-radius: 6px;
    margin-bottom: 5px;
}

#product1 .pro img:hover {
    transform: scale(1.1)
}

#product1 .pro {
    width: 22%;
    min-width: 250px;
    padding: 20px 12px;
    border: 1px solid black;
    margin: 40px 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
    position: relative;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: var(--secondary-color);
    font-size: 16px;
}

#product1 .pro .des h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 18px;
}

#product1 .pro .des h5 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 18px;
    padding-top: 7px;
    font-weight: 700;
}

#product1 .pro .des i {
    font-size: 20px;
    color:#f5be10;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: #e84624;
    background-position: initial;
    position: absolute;
    align-items: flex-end;
    bottom: 20px;
    right: 10px;
    padding: 0 0.6rem;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#product1 .pro .cart:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* here starts banner */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/products/variedade-de-pao-em-madeira.jpg");
    padding: 10% 0;
    background-size: cover;
    background-position: top 25% right 0;
}

#banner button {
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    border-radius: 6px;
    padding: 8px 80px;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}

#banner button:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition:  0.5s ease;
}

#banner span {
    color: var(--secondary-color);
}

#sm-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/variedade-de-pedacos-de-bolo.jpg");
    min-width: 655px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    padding: 30px;
}

#sm-banner .banner-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("images/products/deliciosos-sanduiches-de-frente-com-abacate-e-tomate-vermelho-sobre-fundo-cinza.jpg");
    min-width: 655px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    padding: 30px;
}

#sm-banner span {
    color: var(--secondary-color);
    font-size: 20px;
}

#sm-banner button {
    font-size: 20px;
    background-position: center;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid #e84624;
    border-radius: 6px;
    padding: 8px 20px;
    margin-top: 1rem;
    cursor: pointer;
}

#sm-banner button:hover {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transform: scale(1.1);
    transition:  0.5s ease;
}